
/* BODY */

#landing {
  background-image: url(../assets/homepage-img-background.png);
  background-position: center center;
  background-size: cover;
}

.card {
  max-width: 380px; /* Square images greater than 128x128px do not have a set max size */
  margin-top: 10px;
  margin-bottom: 10px;
}

#skills-logos > figure {
  padding: 5px;
}

/* FOOTER */

/* Remove automaic 1em bottom margin after p tags within the specifed boxes */
.contact-body p:not(:last-child){
  margin-bottom: 0.25rem;
}

.built-by p:not(:last-child){
  margin-bottom: 0.5rem;
}

.contact-entry{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-entry > img {
  width: 32px;
  padding: 0.5rem 0.25rem;
}

.contact-card:not(:last-child){
  margin-bottom: 0.5rem;
}

/* Logo is a higher resolution, but looked out of place at larger sizes */
.logo{
  max-width: 256px;
}
