#landing {
  background-image: url(../assets/homepage-img-background.png);
  background-position: center center;
  background-size: cover;
}

.navbar {
  /* The default value for bulma navbars is relative, which was causing small 
  line between the navbar and the next section to appear. Changing position to
  inherit causes this gap to disappear. */
  position: inherit;
}

.card {
  max-width: 380px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#skills-logos > figure {
  padding: 5px;
}

.contact-entry > img {
  width: 32px;
}
