html {
  scroll-behavior: smooth;
}

/* Nav-bar */

.navbar-item:hover {
  color: #000000;
}

/* Body */

#landing {
  background-image: url(../assets/homepage-img-background.jpg);
  background-position: center center;
  background-size: cover;
}

.card {
  max-width: 380px; /* Square images greater than 128x128px do not have a set max size */
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
}

.card-footer {
  justify-self: end;
}

.about-me {
  max-width: 80%;
}

.about-me > .container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me-body{
  display: inline-block;
  max-width: 60%;
}

@media (max-width: 600px){
  .about-me-body{
    max-width: 100%;
  }
}

/* Overwriting media adjustments for padding that cause landing page to appear 
  larger than desired on certain sized screens */
#landing-body {
  padding: 3rem 1.5rem; 
}

#skills-logos > figure {
  padding: 5px;
}

/* FOOTER */

/* Remove automaic 1em bottom margin after p tags within the specifed boxes */
.contact-body p:not(:last-child) {
  margin-bottom: 0.25rem;
}

.built-by p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact-entry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-entry > img {
  width: 32px;
  padding: 0.5rem 0.25rem;
}

.contact-card:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Logo is a higher resolution, but looked out of place at larger sizes */
.logo {
  max-width: 256px;
}
